@import "../../assets/css/variables"; 

ol {
    counter-reset: item;
}

li {
    padding-top: 10px;
}

ol > li {
    counter-increment: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
}
