<section layout="column" layout-padding>
    <div class="text-center">
        <h1>Privacy Policy</h1>
        <md-button class="md-raised md-primary" ng-click="vm.goTo('home')">
            Return to Home
        </md-button>
    </div>
    <div style="max-width: 900px; margin: 0 auto;">
        <p>
            Divi Australia Pty Ltd (ABN 49 616 428 696) trading as mobi (mobi) owns, operates and maintains this Website, www.mobishare.com.au, and mobile software application (App), the software connected with the Website and App (Software) and the content contained therein, and asserts its copyright. 
        </p>
        <ol>
            <li> Accessing this Website and App           
                <ol>
                    <li>By accessing this Website or App, Users agree to be bound by these Terms and Conditions of Use. If Users do not agree with any of these terms and conditions, Users are prohibited from using or accessing the Website and App or accessing the Services. The materials contained in this Website and App are protected by applicable intellectual property law.</li>
                    <li>Use of parts of the Website and App (including those parts of the Website and App which are accessible to members of the public) also may be subject to disclaimers or additional terms and conditions.</li>
                    <li>mobi may in its sole and absolute discretion, for any reason or no reason, and without notice:</li>
                        <ol>
                            <li>alter or withdraw any functionality on the Website and App;</li>
                            <li>withdraw or suspend access to all or any part of the Website and App and any account;</li>
                            <li>monitor the use of the Website and App;</li>
                            <li>subject to applicable laws, treat any material that Users transmit or display as non-confidential and non-proprietary; and</li>
                            <li>edit or remove any material that Users may have uploaded, posted, emailed or otherwise transmitted to the Website and App. </li>                    
                        </ol>
                    </li>
                </ol>
            </li>
            <li>Services provided by mobi
                <ol>
                    <li>mobi operates the Website and App as an online platform to facilitate communication and access to shared transportation (Rides) between Users of the Website and App who wish to provide Rides (Drivers) via a listing on the Website and App (Listing) and other Users who wish to receive Rides (Riders).  </li>
                    <li>mobi's Services are limited to providing the Website and App, online platform and facilitating the Listings.</li>
                </ol>
            </li>
            <li>User License - Website and App
                <ol>
                    <li>Permission is granted to temporarily download any of the Website and App materials (information or Software) (Materials) on the Website and App for personal, non-commercial transitory viewing only. </li>
                    <li>This is a grant of a license, not a transfer of title, and under this license Users may not:
                        <ol>
                            <li>modify or copy the Materials;</li>
                            <li>use the Materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                            <li>attempt to decompile or reverse engineer any software contained on the Website and App;</li>
                            <li>remove any copyright or other proprietary notations from the Materials; or</li>
                            <li>transfer the Materials to another person or "mirror" the materials on any other server.</li>                            
                        </ol>
                    </li>
                    <li>A User's license under this clause shall automatically terminate if that User breaches any of these Terms and Conditions of Use. In addition, mobi may at its discretion, terminate the license. Upon termination of the license, that User will have no right to view the Website and App or any of the content therein and that User must destroy any downloaded materials in that User's possession or control, whether in electronic or printed format.</li>
                </ol>
            </li>
            <li>Use of the Website and App
                <ol>
                    <li>Users must not, in connection with the use of the Website and App, act in a manner which:
                        <ol>
                            <li>is contrary to any law or any third party's rights, or which may encourage a person to act in a way which is contrary to any law or any third party's rights;</li>
                            <li>may result in damage to the Website or App or any property or equipment of mobi, its directors, employees, contractors or agents;</li>
                            <li>may restrict, disrupt or inhibit any other user from using or enjoying the Website and App;</li>
                            <li>endangers the health or safety of any person;</li>
                            <li>poses or creates a privacy or security risk to any person; </li>
                            <li>constitutes unsolicited or unauthorized advertising, promotional materials, commercial activities and/or sales, &quot;junk mail,&quot; &quot;spam,&quot; &quot;chain letters,&quot; &quot;pyramid schemes,&quot; &quot;contests,&quot; &quot;sweepstakes&quot; or any other form of solicitation;</li>
                            <li>is unlawful, harmful, threatening, abusive, harassing, tortious, violent, defamatory, vulgar, obscene, objectionable;</li>
                            <li>may cause an interference to any business conducted by mobi;</li>
                            <li>upload, post, email or otherwise transmit any of the following to, or through, the Website or App:
                                <ol>
                                    <li>confidential material;</li>
                                    <li>misleading or deceptive material;</li>
                                    <li>material which the User does not have a right to upload, post, email or otherwise transmit, such as material which is protected by copyright, patent, trade mark, service mark, or any other proprietary right, without first obtaining express permission from the Driver of the material or relevant right holder and providing with the material appropriate acknowledgement of existence of the right and the permission of the right holder; or</li>
                                    <li>material which contains a virus, or other harmful or potentially harmful code;</li>
                                </ol>
                            </li>
                            <li>alter, damage or delete any material on the Website or App; </li>
                            <li>hold yourself out as having any authority to act on behalf of us; or</li>
                            <li>collect or store personal information about other users in a manner which is inconsistent with these Terms and Conditions of Use.</li>                
                        </ol>
                    </li>
                    <li>Users must obey any lawful instruction of mobi in using the Website and App.</li>
                    <li>Users consent to mobi's use of transaction monitoring and fraud detection techniques to ensure the integrity of the Website and App.</li>
                    <li>mobi has an anti-discrimination policy. Users are prohibited from making any negative rating, comment or engage in any conduct or speech on the basis of or influenced by gender, race, ethnicity, ability, disability, sexual orientation, age, or other protected ground under applicable law. Users agree to report to mobi promptly any discrimination related complaint by emailing us at support@mobishare.com.au. Users and Accounts may be deactivated from the mobi platform for discriminatory behaviour.</li>                    
                </ol>
            </li>
            <li>Accounts
                <ol>
                    <li>To list or access a Ride, a User must first register a free personal, individual account by creating a username and a password and by providing such information as may be required by mobi from time to time, and which may include the User’s real name, contact telephone number, e-mail address, billing address, bank account details and a valid credit, debit card or other payment method that mobi Website and approves and accepts (Account).</li>
                    <li>Account registration may also be accepted via linking social media accounts including Facebook, in which case you also agree to the terms of that social media account provider.</li>
                    <li>Account names must not be:
                        <ol>
                            <li>misleading or deceptive;</li>
                            <li>offensive;</li>
                            <li>in violation of any law or third party rights.</li>                            
                        </ol>
                    </li>
                    <li>mobi may, at its sole discretion and for any or no reason, refuse registration of, or cancel an Account. </li>
                    <li>Users are solely responsible for activity on the Account and shall be responsible for maintaining the confidentiality of the Account password. No sharing of Accounts is permitted.</li>
                    <li>Users acknowledge and agree that mobi does not make any representation as to the success or the likely success of a Listing, Ride or the success or the likely success, quality or fitness for purpose of use of a Ride shared via the Website and App.</li>                    
                </ol>
            </li>          
        </ol>
    </div>
    <div class="text-center">
        <md-button class="md-raised md-primary" ng-click="vm.goTo('home')">
            Return to Home
        </md-button>
    </div>
</section>