<section class="landing-section" hide-xs>
    <div class="landing-section-content-overlay">
        <div class="content-container" layout="row" layout-align="center center">
            <div flex-gt-xs="50">
                <div class="text-container">
                    <h1>Mobi</h1>
                    <h3>Rideshare on your commute</h3>
                </div>
            </div>
            <div flex-gt-xs="50">
                <img src="../../assets/images/app-preview.png"
                alt="Image of mobile phone displaying the Mobi app">
            </div>
        </div>
</section>
<section class="text-center mobile-landing-section" hide-gt-xs>
    <h1>Mobi</h1>
    <h3>Rideshare on your commute</h3>
    <img src="../../assets/images/app-preview.png"
            alt="Image of mobile phone displaying the Mobi app">
</section>
<section class="content-section" layout="column">
    <div class="text-center">
        <h1>What is Mobi?</h1>
    </div>
    <div layout="column" layout-padding>
        <div>
            <p style="max-width: 560px; margin: 0 auto;">
                Mobi is a ridesharing app that will allow people heading in the same direction 
                the ability to connect with each other so they can rideshare on their commute.
            </p>
        </div>
        <div>
            <div class="video-panel">
                <div class="video-decoration">
                    <div class="video-container">
                        <iframe width="560" height="349" frameborder="0" allowfullscreen
                            src="https://www.youtube.com/embed/3DLmqsRRARM">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="breakpoint"/>
<section class="content-section" layout="column">
    <div class="text-center">
        <h1>How does Mobi work?</h1>
    </div>
    <div layout="row" layout-xs="column" layout-padding>
        <div class="text-center" flex-gt-xs="33" layout="column">
            <span>
                <img class="bubble-image" src="../../assets/images/plan-route.png" 
                    alt="Image of map with routes plotted" width="200"/>
            </span>
            <h3 class="bubble-heading">Pick a route</h3>
            <p class="bubble-comment">
                Simply enter your starting location and your destination. Then enter your desired
                pick up time and select the days you want to comute. That's right, Mobi helps plan
                your whole week!
            </p>
        </div>
        <div class="text-center" flex-gt-xs="33" layout="column">
            <span>
                <img class="bubble-image" src="../../assets/images/pick-commuter.png" 
                    alt="Image of man driving car"/>
            </span>            
            <h3 class="bubble-heading">Pick a commuter</h3>
            <p class="bubble-comment">
                Choose the person you want to travel with! Mobi allows you to select the 
                person you want to commute with by offering everyone who is heading in 
                that direction. 
            </p>
        </div>
        <div class="text-center" flex-gt-xs="33" layout="column">
            <span>
                <img class="bubble-image" src="../../assets/images/chat-first.png" 
                    alt="Image of person holding phone" width="200"/>
            </span>
            <h3 class="bubble-heading">Chat before you ride</h3>
            <p class="bubble-comment">
                You can chat with your fellow commuter before the ride if you need to let 
                them know something or just want to get to know them!
            </p>
        </div>
    </div>
</section>
<hr class="breakpoint"/>
<section layout-padding>
    <div class="text-center">
        <h1>Why choose Mobi?</h1>
    </div>
    <div layout="column">
        <div layout="row" layout-xs="column" layout-align-gt-xs="center center">
            <div class="text-center image-panel-text" flex-gt-xs="30" flex-gt-md="50">
                <h3>Build Relationships</h3>
                <p>
                    At mobi we want to do more than provide an alternative transportation. 
                    We believe each and every commuter has a story, why not share it with 
                    the person next to you!
                </p>
            </div>
            <div class="text-center" flex-gt-xs="70" flex-gt-md="50">
                <div class="image-panel-image relationships"></div>
            </div>
        </div>
    </div>
    <div layout="column">
        <div layout="row" layout-xs="column" layout-align-gt-xs="center center">
            <div class="text-center" flex-gt-xs="70" flex-gt-md="50">
                    <div class="image-panel-image improve-system"></div>
            </div>
            <div class="text-center image-panel-text" flex-gt-xs="30" flex-gt-md="50">
                <h3>Improving an outdated system</h3>
                <p>
                    Improving daily habits is just one step towards a more sustainable future. 

                    Reducing daily expenses will put more money in your pocket and also 
                    take cars off the roads helping the environment! 
                </p>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<section class="feature-panel">
    <div class="text-center mailing-list-panel" layout="column" layout-padding>
        <h2>Stay up to date with our Mailing list</h2>
        <p>Enter your details for exclusive pre-launch offers!</p>
        <div class="mailing-list-container">
            <form class="full-width" name="vm.userForm">
                <md-input-container class="full-width">
                    <label>Email</label>
                    <input ng-model="vm.user.email" type="email" required/>
                </md-input-container>
                <br/>
                <md-input-container class="full-width">
                    <label>Postcode</label>
                    <input ng-model="vm.user.postcode" type="text" required/>
                </md-input-container>
                <br/>
                <md-input-container class="full-width" ng-click="vm.sendFormData()">
                    <md-button class="md-raised" type="submit">Sign Up</md-button>
                </md-input-container>
            </form>
        </div>
    </div>
</section>
<footer>
    <md-toolbar class="paint-primary" layout="row" style="    padding-bottom: 25px;">
        <div class="full-width md-toolbar-tools" layout="row">
            <div class="full-width" layout="row" hide-xs hide-sm>
                <div flex-gt-xs="33">
                    <img class="logo" src="../../assets/images/logo.png" alt="logo" width="30"></img>
                    <div style="display: inline-block; margin-top: -20px; margin-bottom: 2px;">
                        <h3 class="inline">
                            <span>Mobi</span>
                        </h3>
                    </div>
                </div>
                <div class="text-center" flex-gt-xs="33" style="font-size: 0.6em; padding-top: 15px;">
                    <span flex>Mobishare.com.au | &copy; Copyright 2017 | <a href ng-click="vm.goTo('privacy')">Privacy Policy</a></span>
                </div>
                <div class="text-right" flex-gt-xs="33">
                    <md-button class="md-icon-button"
                        href="https://m.facebook.com/profile.php?id=369549266721040"
                        target="_blank"
                        aria-label="Facebook">
                        <i class="fab fa-facebook-f fa-lg"></i>
                    </md-button>
                    <md-button class="md-icon-button"
                        href="https://twitter.com/Mobirideshare?s=07"
                        target="_blank"
                        aria-label="Twitter">
                        <i class="fab fa-twitter fa-lg"></i>
                    </md-button>
                    <md-button class="md-icon-button" 
                        href="https://www.instagram.com/mobiridesharing/"
                        target="_blank"
                        aria-label="Instagram">
                        <i class="fab fa-instagram fa-lg"></i>
                    </md-button>
                    <md-button class="md-icon-button" 
                        href="https://au.linkedin.com/company/mobi-ridesharing"
                        target="_blank"
                        aria-label="Linked In">
                        <i class="fab fa-linkedin-in fa-lg"></i>
                    </md-button>
                </div>
            </div>
            <div layout="column" class="full-width" layout-fill hide-gt-sm>
                <div class="text-center" flex-gt-xs="33" 
                style="font-size: 0.6em; padding-top: 15px; padding-bottom: 10px;">
                    <a href ng-click="vm.goTo('privacy')">Privacy Policy</a>
                    <br/>
                    <p flex>Mobishare.com.au | &copy; Copyright 2017</p>                    
                </div>
            </div>
        </div>
    </md-toolbar>
</footer>